# =================================================================
# 🌊 NAUTILUS PROJECT - GLOBAL GITIGNORE
# =================================================================

# --- 📁 SYSTEM & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.patch
*.diff
.history/
bin/
obj/

# --- 🤖 ROS 2 WORKSPACE (ros2_ws/) ---
# On bloque les dossiers générés par la compilation sur la Pi
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# --- 🛠️ C++ & CMAKE SPECIFIC ---
# Pour éviter de commit des fichiers de build locaux
*.o
*.obj
*.a
*.lib
*.so
*.dylib
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/install-manifest.txt

# --- 🐍 PYTHON SPECIFIC (Launch & Scripts) ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
env/
venv/

# --- 💻 WEB & REACT (nautilus-dashboard) ---
# Dossier des dépendances (TRÈS LOURD)
node_modules/

# Dossiers de build/distribution (Vite utilise 'dist')
dist/
dist-ssr/
build/
out/

# Logs d'erreurs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Fichiers de variables d'environnement (SÉCURITÉ)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# --- 🐳 DOCKER ---
.docker/